//ШРИФТЫ
$font: "MR", "Arial", sans-serif;

// РЕТИНА
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// РАЗРЕШЕНИЯ
$width-desktop-large: 1600px;
$width-desktop: 1024px;
$width-tablet: 768px;
$width-mobile: 320px;

//ЦВЕТА
$color-1: #161616;
$color-2: #ccaa66;
