//ШРИФТЫ
$font: "PT Sans Narrow", "Arial", "Helvetica", sans-serif;

// РЕТИНА
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// РАЗРЕШЕНИЯ
$width-desktop-large: 1600px;
$width-desktop: 1024px;
$width-tablet: 768px;
$width-mobile: 320px;

//ЦВЕТА
$color-1: #3c4865;
$color-2: #fff;
